@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@500;700;900&display=swap');
:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%) ;
    --Green-teal: hsl(166, 100%, 37%) ;
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-blue-background: hsl(252, 100%, 67%);
    --Light-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%); 
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #eee;
}
ul {
    list-style: none;
}
.container {
    background-color: var(--White);
    width: 768px;
    height: 500px;
    border-radius: 15px;
    margin: 100px auto;
    box-shadow: 5px 5px 15px #00000045;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        margin: 0;
    }
    
}

.left{
    width: 45%;
    background-color: var(--Violet-blue-circle);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
}

@media (max-width: 767px) {
    .left{
        width: 100%;
        height: 50%;
        padding: 20px;
    }
    
}

.left > p{
    color: var(--Light-lavender);
    font-size: 25px;
}


.circle{
    background-color: var(--Cobalt-blue);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left .circle p:first-child {
    margin-bottom:  10px;
    color: var(--White);
    font-size: 60px;
    font-weight: 900;
}

.left .circle p:last-child{
    color: var(--Light-lavender);
    font-size: 20px;
}

.left .great{
    color: var(--White);
    font-size: 50px;
}

.left .great + p{
    color: var(--Light-lavender);
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 75px;
}

@media (max-width: 767px) {
    .right {
        width: 100%;
        height: 50%;
        padding: 0 20px;
    }

}

.right h1 {
    color: var(--Dark-gray-blue);
}

.right ul li {
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--Pale-blue);
    padding: 10px 20px;
    border-radius: 15px;
}

.right ul li p:first-child {
    display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
}

.right ul li p:first-child img{
    margin-right: 10px;

}

.right ul li p:last-child{

    font-weight: bold;
    font-size: 20px;
}

.right ul li p:last-child span:last-child{
    color: var(--Light-lavender);
}

.right ul li:first-child p:first-child {
    color: var(--Light-red);

}


.right ul li:nth-child(2) p:first-child{
    color: var(--Orangey-yellow);
}

.right ul li:nth-child(3) p:first-child{
    color: var(--Green-teal);
}

.right ul li:nth-child(4) p:first-child{
    color: var(--Cobalt-blue);
}

button{
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

button:hover , button:active{
    background-color: var(--Light-lavender);
    color: var(--Dark-gray-blue);
}